:root{
  --color-nav:#333;
}

html{
    font-size:16px;
}

body{
    background-color: #fff;
    font-size:16px;
}

#header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.625rem;
  font-family: "Oswald", sans-serif;
}

#header-container #logo{
  display: flex;
  flex-direction: row;
  margin-top: 0.625rem;
  justify-content: space-between;
  align-items: center;
}

.logo-text{
  margin-left: 0.625rem;
}

nav ul li{
  list-style: none;
  display: inline;
}

nav ul li a{
font-size: 0.9375rem;
padding: 0.9375rem;
color: var(--color-nav);
text-decoration: none;
}

nav ul li a:hover {
  background-color: #e50c39;
  color: #fff;
}

.main-content h2{
display:flex;
justify-content:center;
font-size:2.5rem;
color:#000;
letter-spacing:2px;
font-family: 'Oswald', sans-serif;
} 

#cart {
  display:flex;
  justify-content:end;
}

.badge:after{
font-family: "Oswald", sans-serif;
font-size: 0.75rem;
font-weight: bold;
color: #fff;
background: red;
border-radius: 50%;
padding: 6px 8px;
content:attr(value);    /*'content' aplica un contenido al elemento, y dentro de (value) va el 0*/
left:-8px;
top:-10px;
opacity:0.9;
}
 	 	
.gallery{
display:flex;
justify-content:center;
flex-wrap:wrap;
font-family:"Work Sans", sans-serif;
}

.gallery li {
display:flex;
/* Para que las columnas tengan la misma altura.*/
box-sizing:border-box;
list-style:none;
width: calc(100% / 3);
/* 33.33% */
padding: 10px;
}